@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    London, United Kingdom<br />
    Melbourne, Australia<br />
    Austin, Texas, USA<br />
</address>

<address>
    
    <strong>Media:</strong> <a href="mailto:media@acloud.guru">media@acloud.guru</a>
</address>