@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KEEP BEING AWESOME CLOUD GURUS</h1>
    <p class="lead">A Cloud Guru - the leader in cloud certification training</p>
    <p><a href="https://acloud.guru" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
